h1{
	color:red;
		background-color:yellow;
}

h2{
	border-style:dotted;
	border-color:blue;
	border-width:thick;
}

h3{
	font-family:Arial;
	color:#00ff00;
}

.paper {
	color:red;
	font-size:25px;
}

.tags {
	color:green;
	font-size:15px;
}

#cssList{
	color:red;
	font-family:Arial;
	font-size:10em;
	font-weight:bolder;
}